[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
disable=
    too-few-public-methods,
    too-many-instance-attributes,
    line-too-long,
    broad-exception-caught,
    too-many-branches,
    too-many-nested-blocks,
    too-many-statements,
    raise-missing-from
